<div class="flex w-full justify-between items-center text-white bg-slate-700">
    <div class="w-full flex justify-start items-center ">
        <div class=" flex justify-center items-center text-white">
            <div *ngFor="let item of pagesLeft"  [routerLink]="[item.url]">
                <div  *ngIf="item.isEnabled">
                    <div (click)="item.action" class="cursor-pointer p-4 hover:bg-slate-500">
                        <span>{{ item.name }}</span>
                    </div>
                  
                </div>
               
            </div>
        </div>
    </div>

    <div class="w-full flex justify-end items-center">
        <div [routerLink]="[item.url]" *ngFor="let item of pagesRight">
            <div *ngIf="item.isEnabled">
                <div class="cursor-pointer p-4 hover:bg-slate-500" (click)="item?.action()">
                    <span>{{ item.name }}</span>
                </div>
              
            </div>
        </div>
    </div>
</div>
