<div  class="w-[200px] h-[170px] border rounded p-4 hover:shadow cursor-pointer relative">
    <div class="flex flex-col">
        <div>
            <span class="text-xl">{{ item?.name }}</span>
        </div>
        <div class="mt-2 overflow-hidden truncate">
            <span class="text-base text-wrap">{{ item?.description }}</span>
        </div>
    </div>
    <div class="absolute bottom-2 flex justify-center items-center right-2">
        <div (click)="delete(item.id)" class="flex justify-center items-center rounded-full text-white  bg-slate-500 w-[32px] h-[32px] hover:bg-slate-400">
            <i class="bi bi-trash"></i>
        </div>
        <div [routerLink]="[item.url, item?.id]" class="flex justify-center items-center  ml-2 rounded-full text-white  bg-slate-500 w-[32px] h-[32px] hover:bg-slate-400">
            <i class="bi bi-pencil"></i>
        </div>
    </div>
   
</div>