
<div class="grid gap-4 grid-cols-[repeat(auto-fit,_minmax(200px,_1fr))] p-4">
    <app-card-component (action)="action($event)" *ngFor="let item of notes" [item]="{id: item.id, name: item.name, description: item.description, url: '/admin-notes', images: item.images}"></app-card-component>
    <div  [routerLink]="['/admin-notes']" class="w-[200px] h-[170px] border border-dotted flex flex-col justify-center items-center cursor-pointer hover:shadow">
        <div>
            <i class="bi bi-plus text-[50px]"></i>
        </div>
        <div>
            <span>Añadir nota</span>
        </div>
    </div>
</div>
