
<div class="gap-4 grid grid-flow-col justify-center items-center p-4">
    <app-card-component *ngFor="let item of categories" [item]="{id: item.id, name: item.name, description: '', url: '/admin-categories'}"></app-card-component>

    <div class="w-[200px] h-[150px] border border-dotted flex flex-col justify-center items-center cursor-pointer hover:shadow">
        <div></div>
        <div [routerLink]="['/admin-categories']">
            <span>Añadir categoria</span>
        </div>
    </div>
</div>
